.nav-hero{
  background: url(/Assets/Images/nav-hero-bg.png) #053685;
  width: 100%;
  max-height: 704px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.logos{
  min-width: 100px;
  min-height: 48px;
  cursor: pointer;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  margin-top: -96px;
  padding-inline: 32px;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex:1 1 300px ;
  
}

.navlinks{
  max-width: auto;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}


.navlink a{
  max-width: auto;
  min-height: auto;
color: #fff;
font-size:clamp( 0.5rem, 5vw, 0.7rem);
font-weight: 500;
  flex: 1 1 200px;

transition: all .3s ease-in-out;

}

.navlink a:hover{
color: #dd8d15;
}


.hero{
  max-width: 773px;
  max-height: 704px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hero-h{
max-width: 773px;
min-height: 140px;
text-align: center;
color: #fff;
padding-inline: 14px;
font-size: clamp(4rem, 2vw, 2rem);
font-weight: 500;
margin-bottom: 24px;
margin-top: 200px;


}


.hero-sub{
max-width: 744px;
min-height: 64px;
color: #fff;
display: flex;
justify-content: center;
text-align: center;
line-height: 32px;
font-size:  clamp(1.25rem, 2vw, 0.8rem);
font-weight: 300;
margin-bottom: 24px;
padding-inline: 14px;

}


.btns{
  display: flex;
  justify-content: center;
  gap: 32px;
 margin-bottom:156px;
  
}

.btn1{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 178px;
  height: 48px;
border-radius: 30px;
padding: 20px 40px;
text-wrap: nowrap;
cursor: pointer;
background: #dd8d15;
border: none;
transition: all .3s ease-in-out;

}


.btn1:hover{
background: #dd8d15e7;
}

.btn1-t{
  display: flex;
  max-width: 105px;
  max-height: 25px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.btn2{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 178px;
  height: 48px;
border-radius: 30px;
padding: 20px 40px;
  gap: 12px;
text-wrap: nowrap;
background: transparent;
border: 1px solid #fff;
transition: all .3s ease-in-out;
}


.btn2:hover{
border:1px solid #dd8d15;
}



.btn2-arr{
display: flex;
  justify-content: center;
  align-items: center;
   max-width: 130px;
  max-height: 25px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;


}

.btn-i{
  height: 24px;
  width: 24px;
vertical-align: bottom;
cursor: pointer;
  color: #fff;

}



/* ======================ABOUT US============== */

.about-us{
width: 100%;
height: auto;

}

.about-conty{
width: 100%;
max-width: 1290px;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 70px;
margin: auto;
padding-inline: 32px;

}
.about-img{
  max-width: 553px;
  max-height: 369px;
}


.ab-h{
  max-width: 1200px;
  height: auto;
  display: flex;
  gap: 15px;
text-align: center;
margin-bottom: 32px;

}

.ab-h2{
  color: #dd8d15;
}




.ab-line{
  width: 150px;
  height: 3px;
  transform: translateY(-500%);
  background: #053685;
}

.ab-wrap{
    max-width: 1200px;
     height: auto;
  display: flex;
  align-items: center;
  
  gap:32px;
  
}

.tags{

}

.ab-tag1, .ab-tag2, .ab-tag3, .ab-tag4{
max-width: fit-content;
height: auto;
  margin-bottom: 24px;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6;
}






/* ==============DIGITAL MARKETING============ */
.dm-conty{
  max-width: 1290;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.mrap{
  max-width: 1010px;
  max-height: 60px;
display: flex;
position: relative;
margin-bottom: 64px;


}

.dig-h{
    font-size:clamp(0.8rem, 2vw, 1.5rem);
  font-weight: 700;
  margin-right: 7px;
  color: #053685;
}

.serv-h{
    font-size:clamp(0.8rem, 2vw, 1.5rem);
  font-weight: 700;
  color: #dd8d15;
   margin-right: 7px;
}


.del-h{
  color: #053685;
    font-size:clamp(0.8rem, 2vw, 1.5rem);
  font-weight: 700;
}


.mline{
  width: 150px;
  height: 3px;
  position: absolute;
  left: 105%;
  top: 20%;
  background: #053685;
}

.mboxes{
  padding-inline: 32px;
  display: grid;
  grid-template-columns:repeat( 3, 1fr);
  gap: 32px 32px;
  place-content: center;
  max-width:1290px;
  margin:0 auto; 


}



.mbox{
max-width: 400px;
max-height: 473px;
  background: #053685;
  border-radius: 10px;
}

.m-img{

  max-width: 400px;
  max-height: 266px;
}

.b-h{
  display: flex;
flex-wrap: wrap;
  max-width: 400px;
  max-height: 60px;
color: #fff;
text-align: center;
font-weight: 700;
font-size: clamp(1.5rem, 5vw, 1.5rem);
margin-bottom: 4px;

}
.b-sub{
  display: flex;
  justify-content: flex-start;
  max-width: 220px;
  max-height: 40px;
color: #fff;
text-align: c;
font-size: 0.7rem;
font-weight: 300;
margin-top: -20px;
margin-bottom: 8px;

}

.mbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 126px;
  height: 40px;
border-radius: 30px;
padding: 8px 28px;
  gap: 12px;
text-wrap: nowrap;
background: transparent;
border: 1px solid #dd8d15;
font-size: 0.7rem;
font-weight: 400;
margin-top: -20px;
margin-bottom: 98px;
color: #fff;
  
}

.mbtn:hover{
border: 1px solid #fff;

}


.below{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  gap: 24px;
  margin-top: 20px;
  padding-inline: 24px;
}

.ex-btn{
  max-width: 239px;
  max-height: 48px;
  color: #fff;
  background: #dd8d15;
  border: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  text-align: center;
  text-wrap: nowrap;
  margin-top: 54px;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all .3s ease-in-out;

}


.ex-btn:hover{
background: #dd8d15e6;

}

/* ==================BANNER SECTION================= */

.s-media{
  background: url(/Assets/Images/nav-hero-bg.png) #053685;
height: auto;
  
}


.med-conty{
  width: 100%;
  max-width: 1450px;
  min-height: 866px;
  margin: 0 auto;
  padding-inline: 32px;


}

.s-wrap{
  max-width: 1290px;
  max-height: 60px;
display: flex;
justify-content: center;

}

.sm-h1{
font-size: 2rem;
font-weight: 700;
margin-right: 7px;
color: #fff;

}


.sm-h2{
font-size: 2rem;
font-weight: 700;
margin-right: 7px;
color: #dd8d15;

}


.sm-h3{
font-size: 2rem;
font-weight: 700;
color: #fff;

}




.bans{
 display: flex;
 justify-content: center;
 margin: 0 auto;
 max-width: 1290px;
 flex-wrap: wrap;
 gap: 32px;


}

.ban{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
max-width:400px;
min-height:600px;
border-radius: 10px;
background: #fff;
gap: 32px;
margin-left: px;
margin-top: 60px;
}


.h-wrap{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6497f9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
   margin-top: -2px;
  min-height: 122px;
  gap: 0;

}

.m-h{
font-size: 1.5rem;
font-weight:700 ;
color: #fff;
margin-top: 24px;
margin-bottom: 5px;
}

.m-sub{
margin-top: 0px;
padding-bottom: 25px;
font-weight: 300;
font-size: 0.7rem;
color: #fff;

}
.h-wrap2{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dd8d15;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
   margin-top: -2px;
  min-height: 122px;
  gap: 0;

}

.m-h2{
font-size: 1.5rem;
font-weight:700 ;
color: #fff;
margin-top: 24px;
margin-bottom: 5px;
}

.m-sub2{
margin-top: 0px;
padding-bottom: 25px;
font-weight: 300;
font-size: 0.7rem;
color: #fff;

}
.h-wrap3{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #053685;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 122px;
  margin-top: -2px;
  gap: 0;

}

.m-h3{
font-size: 1.5rem;
font-weight:700 ;
color: #fff;
margin-top: 24px;
margin-bottom: 5px;
}

.m-sub3{
margin-top: 0px;
padding-bottom: 25px;
font-weight: 300;
font-size: 0.7rem;
color: #fff;

}






.six{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  color: #053685;
  font-weight: 900;
  margin-bottom: 70px;
}

.check, .cancel{

  max-width: 16px;
  max-height: 16px;
  align-self: flex-start;
}

ul{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px;
  gap: 8px;
 
}

li{
  display: flex;
  gap: 4px;

font-size: 1rem;  
}





.g-btn{

   display: flex;
  justify-content: center;
  align-items: center;
  max-width: 132px;
  height: 41px;
border-radius: 30px;
padding: 0px 28px;
text-wrap: nowrap;
cursor: pointer;
background: #dd8d15;
border: none;
margin-top: 24px;
margin-bottom: 24px;
color: #fff;

}

.g-btn:hover{
background: #dd8d15e5;}




.note{

max-width:1020px ;
max-height: 40px;
font-size: 0.8rem;
font-weight: 300;
color: #fff;
text-align: center;

margin:68px auto;
}







/* ==================CLIENT'S FEEDBACK SECTION================= */

.feed{
width: 100%;


}

.feed-conty{
margin: 0 auto;
padding-inline: 32px;

}


.swiper-wrapper{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.head-wrap{
max-width:1290px ;
max-height:62px ;
display: flex;
justify-content: space-between;
margin: auto


}


.fox-wrap{
  max-width: ;
  display: flex;
  gap: 15px;
}

.feed-h{
  max-width: 305px;
  max-height: 47px;
  font-size: 2rem;
  font-weight: 700;
  color: #053685;
}



.fox-h{
width: 24px;
max-height: 28px;
transform: translateY(20%);
}

.arrows{
display: flex;
justify-content: space-between;
transform: translateY(10%);
gap: 24px;
margin-top: 0;

}

.left-arr, .right-arr{
  max-width: 32px;
  max-height: 32px;
}


.slides{
  max-width: 1290px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: auto;
}


.slide{
  display: flex;
  flex-direction: column;
max-width: 406px;
max-height: 232px;
background: #fff;
padding-inline: 16px;
box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);

}

.comm{
  max-width: 305px;
  max-height: 120px;
  font-size: clamp(0.8rem, 2vw, 0.8rem);
  margin-bottom: 24px;
  margin-top: 20px;
}

.prof-info{
  max-width: 200px;
  display: flex;
  gap: 16px;
}

.prof{
max-width: 45px;
max-height: 45px;
border-radius: 50%;

}

.prof-name{
max-width: 105px;
max-height: 20px;
font-size: 0.7rem;
transform: translateY(100%);
}


  .swiper {
       max-width: 1290px;
min-height:300px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: auto;
      }

      .swiper-slide {
          display: flex;
  flex-direction: column;
max-width: 406px;
max-height: 232px;
background: #fff;
padding-inline: 16px;
box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
      }



      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }



      /* ==================BRANDS SECTION================= */


      .brands{
width: 100%;


      }


      .brand-conty{
        max-width: 1290px;
        height: auto;
padding-inline: 32px;
margin: auto;

      }


      .brand-h{
max-width: 1290px;
min-height: 40px;
text-align: center;
font-size: 2rem;
font-weight: 700;
color: #053685;

      }

      .brandy{

  padding-inline: 32px;
  display: grid;
  grid-template-columns:repeat( 4, 1fr);
  gap: 32px 32px;
  place-content: center;
  max-width:1290px ;
  margin:0 auto; 

      }


      .brand{
max-width:310px ;
max-height: 140px;
      }


.letter{
  max-width: 591px;
  max-height: 178px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .2);
background: #fff;

}

.m-wrap{
max-width: 400px;
max-height: 40px;
display: flex;
justify-content: center;
align-items: center;
gap: 16px;

}

.mail{
max-width: 36px;
max-height: 35px;

}

.mail-h{
max-width:374px ;
max-height: 35px;
font-size: 1rem;
font-weight: 700;
text-align: center;
color: #053685;

}

.mail-h2{
max-width:374px ;
max-height: 35px;
font-size: 1rem;
font-weight: 700;
color: #dd8d15;

}


.in-wrap{
max-width: 550px;
max-height: 48px;
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
padding-inline: 8px;
}


.sub-btn{

 display: flex;
  justify-content: center;
  align-items: center;
  max-width: 132px;
  height: 28px;
border-radius: 10px;
padding: 0px 16px;
text-wrap: nowrap;
cursor: pointer;
background: #dd8d15;
color: #fff;
border: none;
margin-top: 24px;
margin-bottom: 24px;
font-size: 0.7rem;
font-weight: 400;
transition: all .3s ease-in-out;

}


.sub-btn:hover{
background: #dd8d15e5;

}



.news{
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-top: 82px;
}


.conta{
max-width: 230px;
max-height: 75px;

}

.wb-wrap{
display: flex;
gap: 16px;
justify-content: flex-end;
align-items: flex-end;

}

.e-inp::placeholder{
  padding-left: 8px;
font-size: 0.7rem;

}

.con-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 132px;
  height: 41px;
border-radius: 30px;
padding: 0px 28px;
text-wrap: nowrap;
cursor: pointer;
background: #053685;
color: #fff;
border: none;
margin-top: 24px;
font-size: 0.7rem;
font-weight: 400;
transition: all .3s ease-in-out;

}



.con-btn:hover{
background: #053685df;

}


.w-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  max-width: 40px;
  height: 40px;
border-radius: 50%;
  font-size: 2rem;
  background: #053685;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.w-icon:hover{
background: #053685df;

}





      
/* ================FOOTER SECTION ============  */

.footer{
  max-width: 100%;
  background: #053685;
  
}

.footer-conty{
  position: relative;
max-width: 1290px;
min-height: auto;
margin: 0 auto;
padding-inline: 32px;
display: flex;
flex-direction: column;
flex-wrap: wrap;

}

.links-wrap{
  display: flex;
  max-width: 1000px;
  min-height: auto;
}

.logos-f{
  max-width: 178px;
  max-height: 44px;
  margin-bottom: 32px;
  cursor: pointer;
}


.logoz-wrap{
max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.me-h{
max-width:345px ;
max-height:184px ;
display: flex;
color: #fff;
font-size: 0.6rem;
font-weight: 200;
line-height: 1.6;
}

.foxs{
  max-width: 209px;
  max-height: 244px;

}


.footer-links{
 
  max-width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 96px;
  padding-inline: 32px;
}

.link{
  display: flex;
  flex-direction: column;

}

.fl-h{
  font-size: 0.9rem;
  font-weight: 500;
color: #fff;
margin-bottom: 16px;

}

.com-link a{
  max-width: auto;
min-height: auto;
flex-wrap: nowrap;
  display: flex;
  font-size: 0.7rem;
  font-weight: 200;
  margin-bottom: 16px;
color: #fff;
transition: all .3s ease-in-out;
}


.com-link a:hover{
  color: #dd8d15;
}

.com-link2 a{
  max-width: auto;
min-height: auto;

  display: flex;
  font-size: 0.7rem;
  font-weight: 200;
  margin-bottom: 16px;
color: #fff;

}


.com-link2 a:hover{
color: #dd8d15;
}


.com-link3 a{
  max-width: auto;
  display: flex;
  font-size: 0.7rem;
  font-weight: 200;
  margin-bottom: 16px;
color: #fff;

}


.com-link3 a:hover{
color: #dd8d15;
}

.fone{
color: #ffffffad;
font-size: 0.7rem;
display: flex;
align-items: center;
margin-bottom: 13px;
max-width: 150px;
min-height: auto;
text-wrap: wrap;
cursor: pointer;

}


.fone:hover{
  color: #dd8d15;
}


.mail2{
 font-size: 0.7rem;
color: #ffffffad;
margin-bottom: 51px;
display: flex;
align-items: center;
cursor: pointer;

}



.mail2:hover{
  color: #dd8d15;
}


.comms{
display: flex;
max-width: 150px;
gap: 8px;


}


.enq-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 132px;
  height: 30px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding: 10px 12px;
text-wrap: nowrap;
cursor: pointer;
background: #dd8d15;
color: #fff;
border: none;
font-size: 0.7rem;
font-weight: 400;
position: absolute;
gap: 8px;
transform:rotate(-90deg);
top: -2%;
right: -12%;
transition: all .3s ease-in-out;

}

.enq-btn:hover{
background: #dd8d15e4;

}



.enq-mail{
  display: flex;
  align-items: center;
max-width: 24px;
max-height: 24px;

}

.copy-r{
  max-width: fit-content;
  margin: auto;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 300;
  margin-top: 32px;
}